*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    list-style-image: none;
}

p {
    text-align: justify;
}

:root{
    --color-primary: #cec7c3de;
    --color-secondary: #d65317;
    --color-white: #000;
    --color-black: #FFFFFF;
    --color-grey0: #111010de;
    --color-grey-1: #222120de;
    --color-grey-2: #5e5b58de;
    --color-grey-3: #ada9a5de;
    --color-grey-4: #e0dbd7de;
    --color-grey-5: #ebe4dfde;
    --color-grey-6: #f7eee8de;
    --color-artwork: #FFFFFF;
    --br-sm-2: 14px;
    --box-shadow-1: 0 3px 15px rgba(0,0,0,0.3);
}

.light-mode{
    --color-primary: #191d2b;
    --color-secondary: #27ae60;
    --color-white: #ffffff;
    --color-black: #000;
    --color-grey0: #f8f8f8;
    --color-grey-1: #dbe1e8;
    --color-grey-2: #b2becd;
    --color-grey-3: #6c7983;
    --color-grey-4: #454e56;
    --color-grey-5: #2a2e35;
    --color-grey-6: #12181b;
    --color-artwork: #FFFFFF;
}

body{
    background-color: var(--color-primary);
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    color: var(--color-white);
    transition: all 0.4s ease-in-out;
}

a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

header {
    min-height: 100vh;
    color: var(--color-white);
    overflow: hidden;
}

section {
    min-height: 100vh;
    //position: absolute;
    left: 0;
    top: 0;
    padding: 3rem 15rem;
    overflow: hidden;

}

.section {
    transform: translateY(-100%) scale(0);
    transition: all 0.4s ease-in-out;
    background-color: var(--color-primary);
}

.sec1{
    display: none;
    transform: translateY(0) scale(1);
}

.sec2{
    display: none;
    transform: translateY(0) scale(1);
}

.sec3{
    display: none;
    transform: translateY(0) scale(1);
}

.sec4{
    display: none;
    transform: translateY(0) scale(1);
}

.sec5{
    display: none;
    transform: translateY(0) scale(1);
}

.active{
    //display: block;
    // animation: scaleAnim 1s ease-in-out;
    // @keyframes scaleAnim {
    //     0%{
    //         transform: translateY(-60%) scaleY(0);
    //     }
    //     100%{
    //         transform: translateY(0) scaleY(1);
    //     }
    // }
}

.active-section{
    display: block;
    animation: scaleAnim 1s ease-in-out;
    @keyframes scaleAnim {
        0%{
            //transform: translateY(-50%) scaleY(0);
        }
        100%{
            //transform: translateY(0) scaleY(1);
        }
    }
}

//Controls
.controls{
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    .active-btn{
        background-color: var(--color-secondary) !important;
        transition: all 0.4s ease-in-out;
        i {
            color: var(--color-white) !important;
        }
    }
    .control{
        padding: 1rem;
        cursor: pointer;
        background-color: var(--color-grey-4);
        width: 55px;
        height: 55px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.7rem 0;
        box-shadow: var(--box-shadow-1);
        i{
            font-size: 1.6rem;
            color: var(--color-grey2);
            pointer-events: none;
        }
    }
}

// .theme-btn{
//     //top: 5%;
//     //right: 3%;
//     width: 70px;
//     height: 70px;
//     border-radius: 50%;
//     background-color: var(--color-grey-4);
//     cursor: pointer;
//     position: fixed;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     box-shadow: 0 3px 15px rgba(0,0,0,0.3);
//     transition: all 0.1s ease-in-out;
//     &:active{
//         transform: translateY(-3px);
//     }
//     i {
//         font-size: 1.4rem;
//         color: var(--color-grey-2);
//         pointer-events: none;
//     }
// }

.upper-btns{
    position: fixed;
    z-index: 10;
    top: 5%;
    right: 3%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    .upper-btn{
        width: 70px;
        height: 70px;
        //padding: 0.1rem;
        margin: 0 0.5rem;
        border-radius: 50%;
        background-color: var(--color-grey-4);
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 3px 15px rgba(0,0,0,0.3);
        transition: all 0.1s ease-in-out;
        &:active{
            transform: translateY(-3px);
        }
        i {
            font-size: 1.4rem;
            color: var(--color-grey-2);
            pointer-events: none;
        }
    }
    .lang-btn{
        p{
            font-size: larger;
        }
    }
}

/*Header-content*/
.header-content{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .left-header{
        display: flex;
        align-items: center;
        position: relative;
        .h-shape{
            transition: all 0.4s ease-in-out;
            width: 65%;
            height: 100%;
            //background-color: var(--color-secondary);
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
            clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
        }
        .image{
            border-radius: var(--br-sm-2);
            height: 90%;
            width: 70%;
            margin-left: 8rem;
            transition: all 0.4s ease-in-out;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all 0.4s ease-in-out;
                filter: grayscale(0%);
                &:hover{
                    filter: grayscale(0);
                }
            }
        }
    }
    .right-header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-height: 100vh;
        padding-right: 15rem;
        .name{
            font-size: 2.4rem;
            span{
                color: var(--color-secondary);
            }
        }
        p {
            margin: 1.2rem 0;
            line-height: 1.8rem;
        }
        .slider_container {
            position: relative;
            width: 100%;
            height: 50%;
            display: flex;
            justify-content: flex-start;
            margin-bottom: 10px;
            //align-items: center;
            overflow: hidden;
            //max-height: 600px;
          }
          .slider {
            position: relative;
            width: 400%;
            height: 100%;
            display: flex;
            flex-direction: row;
            //align-items: center;
            justify-content: space-between;
            animation: 45s cubic-bezier(0.0, 0.0, 1.0, 1.0) sliding infinite;
          }
          .slide {
            position: relative;
            min-width: 100%;
            max-height: 100%;
            //height: 100%;
          }
          .slide img {
            position: relative;
            max-width: 98%;
            max-height: 98%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin: 1px;
          }
          .slide .caption {
            position: absolute;
            left: 0;
            bottom: 5%;
            font-size: 1rem;
            font-weight: 100;
            color: white;
            text-transform: capitalize;
            background: rgba(0, 0, 0, 0.348);
            // backdrop-filter: blur(10px);
            padding: 1rem 5rem;
            border-radius: 0 2rem 2rem 0;
          }
          @keyframes sliding {
            0% {
              transform: translateX(0%);
            }
            3% {
                transform: translateX(0%);
              }
            6% {
              transform: translateX(-100%);
            }
            10% {
                transform: translateX(-100%);
              }
            13% {
                transform: translateX(-200%);
              }
            16% {
              transform: translateX(-200%);
            }
            20% {
              transform: translateX(-300%);
            }
            23% {
                transform: translateX(-300%);
              }
            26% {
            transform: translateX(-400%);
            }
            30% {
              transform: translateX(-400%);
            }
            33% {
              transform: translateX(-500%);
            }
            36% {
                transform: translateX(-500%);
              }
            40% {
              transform: translateX(-600%);
            }
            43% {
                transform: translateX(-600%);
              }
            46% {
              transform: translateX(-700%);
            }
            50% {
                transform: translateX(-700%);
              }
            53% {
              transform: translateX(-800%);
            }
            56% {
                transform: translateX(-800%);
              }
            60% {
                transform: translateX(-900%);
            }
            63% {
                transform: translateX(-900%);
            }
            66% {
                transform: translateX(-1000%);
            }
            70% {
                transform: translateX(-1000%);
            }
            73% {
                transform: translateX(-1100%);
            }
            76% {
                transform: translateX(-1100%);
            }
            80% {
                transform: translateX(-1200%);
            }
            83% {
                transform: translateX(-1200%);
            }
            86% {
                transform: translateX(-1300%);
            }
            90% {
                transform: translateX(-1300%);
            }
            93% {
                transform: translateX(-1400%);
            }
            96% {
                transform: translateX(-1400%);
            }
            100% {
                transform: translateX(-1400%);
            }
          }
    }
}

/*About*/
.about-container{
    display: grid;
    grid-template-columns: repeat(2, minmax(0,1fr));
    padding-top: 3.5rem;
    padding-bottom: 5rem;
    height: 100%;
    .left-about{
        padding-right: 4rem;
        p{
            line-height: 2rem;
            padding: 1rem;
            color: var(--color-grey-1);
        }
        h4{
            font-size: 2rem;
            text-transform: uppercase;
        }
    }
    .right-about{
        display: grid;
        grid-template-columns: repeat(2, minmax(0,1fr));
        grid-auto-rows: max-content;
        grid-gap: 1rem;
        .about-item{
            border: 1px solid var(--color-grey-5);
            border-radius: 5px;
            transition: all 0.4s ease-in-out;
            box-shadow: 1px 2px 15px rgba(0,0,0,0.1);
            object-fit: cover;
            &:hover{
                cursor: default;
                transform: translateY(-5px);
                border: 1px solid var(--color-secondary);
                box-shadow: 1px 4px 15px rgba(0,0,0,0.32);
            }
            .abt-quads{
                display: grid;
                grid-template-columns: repeat(2, minmax(0,1fr));
                        }
            .abt-quad{
                padding: 0.35rem;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit:cover;
                }
            }
            .centered{
                //position: absolute;
                //top: 50%;
                //left: 50%;
                //transform: translate(-50%, -50%);
                font-size: 1.4rem;
                font-weight: 500;
                color: var(--color-secondary);
                text-align: center;
                margin: -5px;
            }
            .abt-text{
                padding: 1.5rem;
                display: flex;
                flex-direction: column;
                .large-text{
                    font-size: 3rem;
                    font-weight: 700;
                    color: var(--color-secondary);
                }
                .small-text{
                    padding-left: 3rem;
                    position: relative;
                    text-transform: uppercase;
                    font-size: 1.2rem;
                    color: var(--color-grey-1);
                    letter-spacing: 2px;
                    &::before{
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 15px;
                        width: 2rem;
                        height: 2px;
                        background-color: var(--color-grey-5);
                    }
                }
            }
        }
    }
}

.about-stats{
    padding-bottom: 4rem;
    .progress-bars{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        .progress-bar{
            display: flex;
            flex-direction: column;
            .prog-title{
                text-transform: uppercase;
                font-weight: 500;
            }
            .progress-con{
                display: flex;
                align-items: center;
                .prog-text{
                    color: car(--color-grey-2);
                }
                .progress{
                    width: 100%;
                    height: 0.45rem;
                    background-color: var(--color-grey-4);
                    margin-left: 1rem;
                    position: relative; 
                    span{
                        position: absolute;
                        top:0;
                        left: 0;
                        height: 100%;
                        background-color: var(--color-secondary);
                        transition: all 0.4s ease-in-out;
                        width: 60%;
                    }
                    .html{
                        width: 90%;
                    }
                    .css{
                        width: 80%;
                    }
                    .javascript{
                        width: 50%;
                    }
                    .csharp{
                        width: 100%;
                    }
                }
            }
        }
    };
}

.stat-title{
    text-transform: uppercase;
    font-size: 1.4rem;
    text-align: center;
    padding: 3.5rem 0;
    position: relative;
    &::before{
        content: '';
        //display: block;
        position: absolute;
        left: 50%;
        top: 0;
        width: 40%;
        height: 1px;
        background-color: var(--color-grey-5);
        transform: translateX(-50%);
    }
}

/*Timeline*/
.timeline{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    padding-bottom: 3rem;
    .timeline-item{
        position: relative;
        padding-left: 3rem;
        border-left: 1px solid var (--color-grey-5);
        .tl-icon{
            position: absolute;
            left: -27px;
            top: 0;
            background-color: var(--color-secondary);
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            i{
                font-size: 1.3rem;
            }
        }
        .tl-duration{
            padding: 0.2rem 0.6rem;
            background-color: var(--color-grey-5);
            border-radius: 15px;
            display: inline-block;
            font-size: 0.8rem;
            text-transform: uppercase;
            font-weight: 500;
        }
        h5{
            padding: 1rem 0;
            text-transform: uppercase;
            font-size: 1.3rem;
            font-weight: 600;
            span{
                color: var(--color-grey-2);
                font-weight: 500;
                font-size: 1.2rem;
            }
        }
        p{
            color: var(--color-grey-2);
        }
    }
}

/*Portfolio*/
.port-text{
    padding: 2rem 0;
    text-align: center;
}

.portfolio{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: 3rem;
    .portfolio-item{
        position: relative;
        display: none;
        img{
            width: 100%;
            height: 500px;
            object-fit:contain;
        }
        .hover-items{
            width: 100%;
            height: 100%;
            //background-color: var(--color-secondary);
            position: absolute;
            left: 0;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            opacity: 0;
            transform: scale(0);
            transition: all 0.4s ease-in-out;
            //border-radius: 15px;
            h3{
                font-size: 1rem;
                color: var(--color-artwork);
                margin-bottom: 1.0rem;
                text-align: center;
            }
            h4{
                font-size: 0.75rem;
                color: var(--color-artwork);
                margin-bottom: 1.0rem;
                text-align: center; 
            }
        }
    }
    .show {
        display: block;
    }
}

.portfolio-item:hover .hover-items{
    opacity: 1;
    transform: scale(1);
}

//Blogs section
.blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: 3rem;
    .blog{
        position: relative;
        background-color: var(--color-grey-5);
        border-radius: 5px;
        box-shadow: 1px 1px 20px rgba(0,0,0,0.1);
        transition: all 0.4s ease-in-out;
        &:hover{
            box-shadow: 1px 1px 20px rgba(0,0,0,0.3);
            transform: translateY(-5px);
            transition: all 0.4s ease-in-out;
            img {
                filter: grayscale(0);
                transform: scale(1.1);
                box-shadow: 0px 4px 15px rgba(0,0,0,0.8);
            }
        }
        img {
            width: 100%;
            height: 300px;
            object-fit: cover;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            filter: grayscale(100%);
            transition: all .4s ease-in-out;
        }
        .blog-text{
            margin-top: -7px;
            padding: 1.1rem;
            border-top: 8px solid var(--color-secondary);
            h4{
                font-size: 1.5rem;
                margin-bottom: 0.7rem;
                transition: all 0.4 ease-in-out;
                cursor: pointer;
                &:hover{
                    color: var(--color-secondary)
                }
            }
            p{
                color: var(--color-grey-2);
                line-height: 2rem;
                padding-bottom: 1rem;
            }
        }
    }
}

// Contact section
.contact-content-con{
    display: flex;
    padding-top: 3.5rem;
    .left-contact{
        flex: 2;
        h4{
            margin-top: 1rem;
            font-size: 2rem;
            text-transform: uppercase;
        }
        p{
            margin: 1rem 0;
            line-height: 2rem;
        }

        .contact-info{
            .contact-item{
                display: flex;
                align-items: center;
                justify-content: space-between;
                p{
                    margin: 0.3rem 0 !important;
                    padding: 0 !important;
                }
                .icon{
                    display: grid;
                    grid-template-columns: 40px 1fr;
                    i{
                        display: flex;
                        align-items: center;
                        font-size: 1.3rem; 
                    }
                }
            }
        }

        .contact-icon{
            display: flex;
            margin-top: 2rem;
            a{
                display: flex;
                align-items: center;
                color: var(--color-white);
                background-color: var(--color-grey-5);
                cursor: pointer;
                justify-content: center;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin: 0 0.4rem;
                transition: all 0.4s ease-in-out;
                &:hover{
                    background-color: var(--color-secondary);
                    i{
                        color: var(--color-primary);
                    }
                }
                i{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.3rem;
                }
            }
        }
    }

    .right-contact{
        flex: 3;
        margin-left: 3rem;
        .input-control{
            margin: 1.5rem 0;
            input, textarea{
                border-radius: 30px;
                font-weight: inherit;
                font-size: inherit;
                font-family: inherit;
                padding: 0.8rem 1.1rem;
                outline: none;
                border: none;
                background-color: var(--color-grey-5);
                width: 100%;
                color: var(--color-white);
                resize: none;
            }
        }
        .i-c-2{
            display: flex;
            :last-child{
                margin-left: 1.5rem;
            }
        }
        .submit-btn{
            display: flex;
            justify-content: flex-start;
        }
    }
}

/*Independent components*/
.btn-con{
    display: flex;
    align-self: flex-start;
}
.main-btn{
    border-radius: 30px;
    color: inherit;
    background-color: var(--color-primary);
    font-weight: 600;
    position: relative;
    border: 1px solid var(--color-secondary);
    display: flex;
    align-self: flex-start;
    align-items: center;
    overflow: hidden;
    .btn-text{
        padding: 0 2rem;
        font-size: large;
    }
    .btn-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-secondary);
        border-radius: 50%;
        padding: 1rem;
      }
      &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: var(--color-secondary);
        z-index: -1;
        transition: transform 0.3s ease-in-out;
        transform: scaleX(0);
        transform-origin: right;
      }
      &:hover::before,
      &:focus::before {
        transform: scaleX(1);
      }
    }

.main-title{
    text-align: center;
    h2{
        position: relative;
        text-transform: uppercase;
        font-size: 4rem;
        font-weight: 700;
        span{
            color: var(--color-secondary);
        }
        .bg-text{
            position: absolute;
            top: 50%;
            left: 50%;
            color: var(--color-grey-5);
            transition: all 0.4s ease-in-out;
            z-index: -1;
            transform: translate(-50%, -50%); //centers something
            font-weight: 800;
            font-size: 6rem;
            width: max-content;
        }
    }
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-content {
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 0rem;
    padding: 0rem;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    justify-content: center;
}

/* Modal Content (Image) */
.modal-img {
    margin: auto;
    display: block;
    object-fit: cover;
    max-height: 100%;
    max-width: 100%;
}

.left-modal{
    margin: 0rem 2rem;
    max-height: 900px;
    max-width: 100%;
    padding: 1rem;
}

.right-modal{
    margin: auto 0;
    width: 70%;
    h3{
        font-size: 1.5rem;
        color: var(--color-artwork);
        margin-bottom: 1.0rem;
        text-align: center;
    }
    h4{
        font-size: 1rem;
        color: var(--color-artwork);
        margin-bottom: 1.0rem;
        text-align: center; 
    }
}

/* Next & previous buttons */
.prev,
.next {
  position: absolute;
  padding: 0rem 1rem;
  top: 50%;
  width: auto;
  color: #f1f1f1;
  transition: 0.3s;
  font-weight: bold;
  font-size: 40px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
.prev:hover,
.prev:focus,
.next:hover,
.next:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}



/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

// /* Add Animation - Zoom in the Modal */
// .modal-content, #caption {
//     -webkit-animation-name: zoom;
//     -webkit-animation-duration: 0.6s;
//     animation-name: zoom;
//     animation-duration: 0.6s;
// }

// @-webkit-keyframes zoom {
//     from {-webkit-transform:scale(0)}
//     to {-webkit-transform:scale(1)}
// }

// @keyframes zoom {
//     from {transform:scale(0)}
//     to {transform:scale(1)}
// }

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 25px;
    color: #f1f1f1;
    font-size: 50px;
    font-weight: bold;
    transition: 0.3s;
    z-index: 1;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.language {
    font-size: large;
    font-weight: 500;
}

.dropdowns{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .dropdown {
        min-width: 15em;
        position: relative;
        margin: 0.5em;
    }

    .dropdown * {
        box-sizing: border-box;
    }

    .select {
        background: var(--color-grey-4);
        color: var(--color-white);
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 2px var(--color-grey-4) solid;
        border-radius: 0.5em;
        padding: 1em;
        cursor: pointer;
        transition: background 0.3s;
    }

    .select-clicked {
        border: 2px var(--color-grey-3) solid;
        box-shadow: 0 0 0.8em var(--color-grey-3);
    }
    .select:hover {
        background: var(--color-grey-3);
    }

    .caret {
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 6px solid var(--color-white);
        transition: 0.3s;
    }
    .caret-rotate {
        transform: rotate(180deg);
    }

    .menu {
        list-style: none;
        padding: 0.2em 0.5em;
        background: var(--color-grey-4);
        border: 1px var(--color-grey-4) solid;
        box-shadow: 0 0.5em 1em rgba(0,0,0,0.2);
        border-radius: 0.5em;
        color: var(--color-white);
        position: absolute;
        top: 3em;
        left: 50%;
        width: 100%;
        transform: translateX((-50%));
        opacity: 0;
        display: none;
        transition: 0.2s;
        z-index: 1;
    }
    .menu li {
        padding: 0.7em 0.5em;
        margin: 0.3em 0;
        border-radius: 0.5em;
        cursor: pointer;
    }
    .menu li:hover {
        background: var(--color-grey-5);
    }

    .active-drop{
        background: var(--color-grey-3);
    }

    .menu-open {
        display: block;
        opacity: 1;
    }
}


/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

@import './media';